.Interface-buttons button {
    background-color: lightblue;
    border: none;
    color: #222;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    margin: 4px 2px;
    width: 30%;
    max-width: 200px;
  
    border-radius: 4px;
  }
  
  .Interface-buttons button:disabled {
    background-color: lightcoral;
    cursor: default;
    color: #555;
  }