.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-description {
    /*font-size: large;*/
    width: 95%;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes App-logo-hover {
    0%   {top: 0px;}
    50%  {top: 100px;}
    100% {top: 0px;}
  }