.Clip-list {
    border: grey;
    border-style: solid;
    border-width: 1px;

    padding: 12px;

    margin: auto;
    margin-top: 10px;
    height: 350px;
    width: 95%;
    max-width: 900px;

    overflow: auto;
}