.recording-modal {
    padding: 0px;
}

.modal-div {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#close-modal-btn {
    float: right;
}

.oscilloscope {
    height: 200px;
}

#modal-play-button {
    height: 70px;
    width: 100%;
    /* max-width: 900px; */
}

.modal-btn-row {
    
}

.modal-btn-row button {
    height: 70px;
    display: inline-block
    
}

#modal-record-button {
    width: 50%;
    /* max-width: 450px; */
}

#modal-stop-record-button {
    width: 50%;
    /* max-width: 450px; */
}

.sound-wave {
    width: 100%;
    height: 90%;
}

#modal-submit-clip-button {
    margin-top: 10px;
    float: right;
    padding: 10px 15px;
}