.modal-div {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.oscilloscope {
    height: 200px;
}

#modal-play-button {
    height: 70px;
    width: 100%;
    max-width: 900px;
}

.modal-btn-row {

}

.modal-btn-row button {
    height: 70px;
    display: inline-block
    
}

#modal-record-button {
    width: 50%;
    /* max-width: 450px; */
}

#modal-stop-record-button {
    width: 50%;
    /* max-width: 450px; */
}