.recording-modal {
    padding: 0px;
}

.modal-div {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.modal-div button {
    border: none;
    background-color: rgb(123, 174, 241);
}

.modal-div button:disabled {
    background-color: rgb(226, 77, 77);
    color: rgb(44, 27, 27);
}

.modal-div button:active {
    filter: brightness(80%);
}

#close-modal-btn {
    float: right;
    padding: 5px 10px;
}

.oscilloscope {
    height: 100px;
}

.sound-wave {
    width: 90%;
    margin-left: 5%;
    height: 70%;
}

.modal-play-button {
    width: 100%;
    margin-bottom: 20px;
}

.modal-play-button button {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
}

.modal-btn-row div {
    display: inline-block;
    width: 50%;
}

.modal-btn-row button {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}

#modal-submit-clip-button {
    margin-top: 30px;
    float: right;
    padding: 10px 15px;
}